.xchange__main {
  background-size: cover;
  background-image: linear-gradient(to bottom right, #b56bf5, #923edc, #461372);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
}
.xchange__sec2 {
  max-width: 95%;
  width: 90%;
  height: 90%;
  padding: 10px 30px;
  /* width: fit-content; */
  padding: 3%;
  background-image: linear-gradient(
    to bottom right,
    #0a95ff6e,
    #0256965f,
    #022b497c
  );
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: #7dc6ed41 6px 5px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #03012a;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.xchange__head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.xchange__h1 {
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  text-shadow: #030220 5px 10px 6px;
}

.xchange__h1 span {
  align-items: center;
  display: flex;
}

.xchange__h1 span img {
  filter: drop-shadow(#030220 5px 10px 6px);
  color: #fff;
}

.xchange__logo {
  width: 50px;
  height: 40px;
}

.xchange__p {
  font-size: 45px;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  text-shadow: #03012a 5px 2px 3px;
}

.xchange__currencysec {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 50px;
}

.xchange__deposit {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 80vw;
  margin-bottom: 15px;
}

.deposit__btn {
  padding: 5px 8px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #430e71;
  box-shadow: #030220 5px 6px 15px;
}

.xchange__walletb {
  display: flex;
  background-color: #b56bf5;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: #430e71 5px 6px 10px;
}

.xchange__walletb h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'lora';
  text-decoration: underline;
  font-style: italic;
}

.xchange__walletbm {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  width: 100%;
}

.xchange__wallets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  max-width: fit-content;
}

.xchange__wallet {
  display: flex;
  background-color: #b56bf5;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  max-width: fit-content;
  border-radius: 10px;
  box-shadow: #430e71 5px 6px 10px;
}

.wallet__first {
  color: #fff;
  font-family: 'Lora';
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wallet__second {
  color: #fff;
  font-family: 'Lora';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wallet__second h1 {
  margin: 0;
}

.deposit__secondry {
  background-color: #3e25547f;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deposit__main {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px;
  gap: 10px;
  color: #fff;
  background-color: #2d0c49;
  justify-content: center;
  align-items: center;
}

.deposit__input {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  max-width: 100%;
}

.deposit__input input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.deposit__input select {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wallet__second button {
  background-color: transparent;
  border: none;
}

.popup__overlay {
  background-color: #3e25547f;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transfer__form {
  width: 100%;
  max-width: 300px;
  height: fit-content;
  padding: 10px;
  background-color: #271930;
  color: #fff;
}

.select__default {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  font-family: 'lora';
  font-weight: 700;
}

.select__option {
  background-color: #410e5367;
  font-size: 20px;
}

.wallet__second button i {
  font-size: 25px;
  font-weight: 800;
  color: #3a3535;
}

.wallet__first h2,
.wallet__first h4,
.wallet__first p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .xchange__h1 {
    font-size: 20px;
  }

  .xchange__head {
    margin-top: 20px;
  }

  .deposit__btn {
    font-size: 15px;
  }

  .xchange__wallets {
    flex-direction: column;
    gap: 10px;
  }
}
